#!/usr/bin/env xdg-open
[Desktop Entry]
Type=Application
Name=MPK-Mini-Plus-editor
Comment=Alternative to the official AKAI MPKMini MkII Editor
Categories=Music;AudioVideo;Audio
Keywords=music;standalone;
Exec=mpk-mini-plus-editor
# Icon=mpk-mini-plus-editor
Terminal=false
